*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin-left: 42px;
    margin-top: 30px;
    font-size: 20px;
}

a{
    margin-left: 42px;
}

button{
    margin-left: 42px;
    background-color: rgb(106, 253, 106);
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}

.section-left{
    height: 500px;
    display: inline-block;
    margin-left: 121px;
    margin-top: 50px;
}

.section-right{
    display: inline-block;
    width: 30%;
    margin-left: 100px;
}

h1{
    font-size: 62px;
    font-weight: 700px;
    color:  #161A49;
    margin-bottom: 90px;
}

p{
    font-size: 18px;
    line-height: 33px;
    color: #4B505A ;
    font-weight: 500px;
    margin-bottom:  50px;
}

.link-final{
    color:#6FBF44;
    line-height: 27px;
    font-size: 18px;
    font-weight: 500px;
    margin-left: 5px;
}

button:hover{
    background-color: rgb(186, 214, 143);
}

button:active{
    background: rgb(135, 156, 135);
}

@media screen and (max-width: 1190px) {

    *{
        box-sizing: border-box;
    }

    a{
        display: none;
    }


    button{

        background-color: rgb(106, 253, 106);
        padding: 10px;
        font-size: 20px;
        border-radius: 10px;
        margin-left: 250px;

    }

   .section-left{
        display: block;
   }

   .section-right{
        display: block;
        position: relative;
        bottom: 50vh;
        margin-right: 40px;
   }

   img{
        Width: 300px;
        Height: 288px;
        position: relative;
        top: 400px;
        right: 40px;
    
   }

   h1{
        font-weight: 700px;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        height: 60px;
        width: 278px;
        margin-right: 40px;
   }

   p{
        width: 304px;
        height: 165px;
        font-weight: 400px;
        font-size: 18px;
        line-height: 33px;
        text-align: center;
        margin-bottom: 40px;
        position: relative;
        right: 30px;
        bottom: 30px;
   }

}